.author {
  align-items: center;
  border-radius: 10px;
  display: flex;
  font-size: 26px;
  height: 80px;
  justify-content: center;
  margin: 20px auto;
  width: 200px;
}

.authors {
  display: grid;
  grid: none / auto auto auto;
}

.photos {
  align-items: center;
  left: 10%;
  position: absolute;
  top: 20%;
}

.albums, .photos {
  display: grid;
  grid: none / auto auto auto auto auto;
}

.album, .photo {
  margin: 30px auto;
  width: 200px;
}

.albumCover:hover, .photo:hover, .author:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.albumTitle {
  font-size: 16px;
}

.albumTitle:hover {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

h3 {
  font-size: 14px;
}

button {
  background-color: #e7e7e7;
  border: solid black thin;
  cursor: pointer;
  font-size: 16px;
  left: 5%;
  position: absolute;
  top: 13%;
  transition: 0.6s ease;
  width: 12vw;
}

.close-button {
  border-color: black;
  border-radius: 0 6px;
  border-style: none none solid solid;
  border-width: 0.2vw;
  font-size: 2.5vh;
  height: 7%;
  min-height: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 3.5%;
}

.popup {
  display: none;
}
